* {
    font-family: 'Open Sans', sans-serif;
}


@-webkit-keyframes NAME-YOUR-ANIMATION {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes NAME-YOUR-ANIMATION {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes NAME-YOUR-ANIMATION {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes NAME-YOUR-ANIMATION {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}




body {
    background-color: #EDEDED;
}
h1, a {
    padding: 0 0 0 5%;
    color: #2a8782;
}

a {
    text-decoration: none;
}


#toolbar-toggle {
    list-style-type: none;
    text-align: center;
 transition: visibility 0s, opacity 0.5s linear;
}

li {
    display: inline-block;
    padding: 0.8% 1%;
    margin: 0 1%;
}

figure {
    text-align: center;
}

.hidden {
    visibility: none;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.fondu {
  -webkit-animation: NAME-YOUR-ANIMATION 1s ; /* Safari 4+ */
  -moz-animation:    NAME-YOUR-ANIMATION 1s ; /* Fx 5+ */
  -o-animation:      NAME-YOUR-ANIMATION 1s ; /* Opera 12+ */
  animation:         NAME-YOUR-ANIMATION 1s ; /* IE 10+, Fx 29+ */
}


img {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
    border-radius: 10px;
    border: 20px solid white;
    box-shadow: 0px 0px 20px #888888;
}
